.container {
  background: linear-gradient(135deg, #1d1f20, #2f3234);
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  transition: width 0.2s ease-in-out;
  width: 120px;
}
.container.minimized {
  width: 60px;
  padding: 1rem 5px;
}
.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  margin-bottom: 20px;
  position: relative;
}

.link {
  display: flex;
  align-items: center;
  color:var( --light);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  gap:10px;
}

.link:hover {
  color: #666;
}
.container.minimized .link {
  justify-content: center;
}
.icon {

  width: var(--icon-width);
}
.container.minimized .icon{
  margin-right: 0px !important;
}

.addTemplateButton,
.minimizeButton {
  border: 1px #ccc solid;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  padding: 0.19rem;
  width: 100%;
  display: block;
  background: none;
  justify-content: space-around;
  display: flex;

}

.addTemplateButton{
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #e76f51;
}
.addTemplateButton span,
.minimizeButton span{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:3px;
}
.addTemplateButton svg,
.minimizeButton svg{
  width: 13px;
  height: 13px;
}
.addTemplateButton:hover,
.minimizeButton:hover{
  background-color: var(--dark-hover);
}
.container.minimized .addTemplateButton,
.container.minimized .minimizeButton{
  margin-left: 0px;
}

.templateListSection {
  display: flex;
  align-items: center;
  gap:3px;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}
.templateListSection .list {
  width: 100%;
  gap: 10px !important;
}
.templateListSection .item {
  border: 1px #bcbcbc solid;
  background-color: #2f3234;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 0px;
}

/* TODO :: tooltip 

.minimizedItem .item:hover::after {
  content: attr(data-content);
  position: absolute;
  background-color: #fff;
  color: #333;
  padding: 5px;
  border-radius: 4px;
  top: 120%;
  left: 120%;
  white-space: nowrap;
  z-index: 1;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s;
}


*/