.flipswitch {
    position: relative;
    width: 118px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
  }
  .flipswitch input[type=checkbox] {
    display: none;
  }
  .flipswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #766df4;
    border-radius: 23px;
  }
  .flipswitch-inner {
    width: 200%;
    margin-left: -100%;
    -webkit-transition: margin 0.3s ease-in 0s;
    -moz-transition: margin 0.3s ease-in 0s;
    -ms-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
  }
  .flipswitch-inner:before, .flipswitch-inner:after {
    float: left;
    width: 50%;
    height: 23px;
    padding: 0;
    line-height: 23px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .flipswitch-inner:before {
    content: "Template";
    padding-left: 10px;
    background-color: #766df4;
    color: #FFFFFF;
  }
  .flipswitch-inner:after {
    content: "Input only";
    padding-right: 10px;
    background-color: #EBEBEB;
    color: #766df4;
    text-align: right;
  }
  .flipswitch-switch {
    width: 17px;
    margin: 3px;
    background: #ffffff;
    border: 1px solid #766df4;
    border-radius: 23px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 93px;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -ms-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
  }
  .flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
    margin-left: 0;
  }
  .flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
    right: 0;
  }